<nav class="navbar bg-light">
    <a href="/" class="navbar-brand ms-2">STDGAP</a>
    <ul class="navbar-nav me-2">
        <li class="nav-item">
            <a href="/" class="nav-link">Anasayfa</a>
        </li>
    </ul>
</nav>