<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
</head>
<body>
    <%- include('../../partials/navbar') %>
    <div class="container mt-5">
        <form method="post">
            <div class="row mb-3">
                <label for="categoryName" class="col-md-2 form-label">Not kategori:</label>
                <div class="col-md-6">
                    <input type="text" name="categoryName" id="categoryName" class="form-control ">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-outline-success">Ekle</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>



