<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
</head>
<body>
    <%- include('../../partials/navbar') %>
    <div class="container mt-5">
      <div class="delete bg-light p-2 d-flex align-items-center justify-content-between">
        <% courses.forEach(course => { %>
          <%= course.name %> isimli kullanıcıyı silmek istiyor musun ?
        <% }) %>
        <form method="post">
            <input type="hidden" name="userid">
            <button type="submit" class="btn btn-danger">Sil</button>
            <a href="/">Vazgeç</a>
        </form>
      </div>
    </div>
</body>
</html>



